body {
    font-family: sans-serif;
    margin:0;
    padding:0 ;
    background-color: #fffffff9;
    color: #000000;
}

h1{
    text-align: center;
}
h2{
    text-align: center;
}

#three{
    text-align: center;
}

header
 {
    background-color: #092856f9;
    color: #fff;
    padding: 10px;;
}

.sidenav {
  height: 100%;
  width: 20%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #62636b95;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 50px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 30px;
  color: #ffffff;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #000000;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.notes-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 70px;
}

.note-card {
    background-color: #fff;
    border-radius: 20px;
    padding: 2rem;
    text-align: center;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.note-card img {
    width: 100px;
    height: 100px;
    margin-bottom: 1rem;
}

.btn {
    background-color: #060606;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    margin: 0.5rem 0;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #1e3e8e;
}
